<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" and dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Bitsa Collaboration Center Login Page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="validation"></script>
</head>
<body>
	<div class="login-form">
		<h1>Login Form</h1>
		<br>
		<br>
		<form action="#" method="post"></form>
		<p>Username</p>
		<input type="text" name="user" placeholder="Enter Username" id="username">
		<p>Password</p>
		<input type="password" name="password" placeholder="Enter Password" id="password">

		<button type="submit" name="" onclick="validate()">Login</button>
		
	</div>

</body>
</html>